table{
             width: 100%;
         }
         table,th,td{
             border:  2px solid black;
             border-collapse: collapse;
             padding: 10px;
         }
         th{
            background-color: maroon;
            text-align: left;
            color: white;
         }
         td{
             text-align: left;
         }
         tr:nth-child(even){
                background-color: white;
            }
            tr:nth-child(odd){
                background-color: rgb(236, 233, 233)
            }